<li>

  <div class="post-left">
    <%= link_to gravatar_for(micropost.user), micropost.user %>
  </div>

  <div class="post-right">
    <span class="user">
      <%= link_to micropost.user.name, micropost.user %>
    </span>
  
    <% if micropost.reply_id? %>
      <div class="reply_to">
        Reply to: <%= link_to micropost.parent.user.name %>
      </div>
    <% end %>
    <span class="content"><%= micropost.content %></span>
    <% if micropost.image? %>
      <div class="image">
        <%= image_tag micropost.image.url(:thumb) %>
      </div>
    <% end %>
    <span class="timestamp">
      Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    </span>
    <% if current_user == micropost.user %>
      <%= link_to "delete", micropost, method: :delete,
                                       data: { confirm: "You sure?" },
                                       title: micropost.content %>
    <% end %>

    <div class="options">
      <button type="button" class="btn btn-xs btn-default reply_button
                              <%= "btn btn-xs btn-info reply_button" if micropost.replies.any? %>" 
                          data-id="<%= micropost.id %>" >
        Reply <%= micropost.replies.count %>
      </button>
      
      <% if current_user != micropost.user %>
        <span id="likes_buttons_<%= micropost.id %>">
          <%= render partial: "likes/like", locals: { micropost: micropost, likes: @likes } %>
        </span>
      <% end %>
    </div>
    
    <div id="reply_form<%= micropost.id %>" class="reply_form" style="display: none;" >
      <%= form_for(micropost, url: microposts_path(micropost), method: :post) do |f| %>
      <p>
        Reply to <%= micropost.user.name %>
      </p>
      <%= f.hidden_field :reply_id, value: micropost.id %> 
      <%= f.text_area :content, value: nil, placeholder: "Compose reply..." %>
      <%= f.submit "Post", class: "btn btn-primary" %>
    
      <% end %>
    </div>
    
    
    <% if micropost.replies.any? %>
      <ol class="microposts">
        <%= render micropost.replies %>
      </ol>
    <% end %>
    
    
    
      
  </div>
</li>